<component name="ArtifactManager">
  <artifact type="war" name="spring40-source:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring4study.war">
      <element id="artifact" artifact-name="spring40-source:war exploded" />
    </root>
  </artifact>
</component>